<div class='container'>
	<div class='row'>
		<div class='col-md-12'>
			<div class='col-md-8 col-md-offset-2'>

				<div class='panel panel-default'>
					<div class='panel-body'>
						<h1 class='bold'>Adicionar Usuario</h1>
						<p>Adicione os usuarios para a API</p>
					</div>
				</div>
				
				<div class='required-field'>
					<div class='alert alert-info'>
						<strong>(*)</strong> Campos requiridos
					</div>
				</div>

				<div class='panel panel-default'>
					<div class='panel-body'>
						<% if notice %>
							<div class='alert alert-success'>
								<p><%= notice %></p>
							</div>
						<% end %>

						<%= render 'persons/form', person: @person %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>