<div class='container'>
	<div class='row'>
		<div class='col-md-12'>
			<div class='col-md-8 col-md-offset-2'>
				<h1>Adicionar Usuario</h1>
				<p>Adicione os usuarios para a API</p>
				<hr>
				
				<div class='required-field'>
					<div class='alert alert-info'>
						<strong>(*)</strong> Campos requiridos
					</div>
				</div>

				<%= render 'persons/form', person: @person %>
			</div>
		</div>
	</div>
</div>